// font
$serif: "Noto Serif JP", serif;
$sans: 'Noto Sans JP', sans-serif;

// font-weight
$ultra-light: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$demi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// color
$color-black: #3B4043;
$main-color: #988F76;